language: node_js
dist: trusty
node_js: 6
addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

script:
  - bower install
  - xvfb-run npm test
